<section class="section-wrapper section-experience">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Work Experience</h2></div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2015 - Present</small>
                            <h3>Senior Developer</h3>
                            <h4>Computer & Motor Ltd.</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2012 - 2015</small>
                            <h3>Webdesigner</h3>
                            <h4>BizzNiss</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2012 - 2015</small>
                            <h3>Web Developer</h3>
                            <h4>Unique Soft</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2010 - 2012</small>
                            <h3>Front-end Developer</h3>
                            <h4>Somsom LLC</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                </div>
            </div>
            <!--.row-->
        </div>
    </div>
    <!-- .container -->
</section>
<!-- .section-experience -->
