body {
  background-image: url('https://i.imgur.com/LwSmYT1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(10, 20, 43);
  /* rgb(9, 78, 129) */
  font-family: courier;
}

div.mg {
  margin-top: 10%;
}

a {
  color: rgb(12, 206, 240);
  font-size: 20px;
}

a:hover {
  color: rgb(71, 247, 19);
  text-decoration: none;
}
