<section class="section-wrapper skills-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Skills</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-wrapper">

                            <h3>CODING SKILLS</h3>

                            <div class="progress-item">
                                <span class="progress-title">Angular 7 (Framework)</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="64" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 64%"><span
                                            class="progress-percent"> 64%</span>
                                    </div>
                                </div>
                                <!-- .progress -->
                            </div>
                            <!-- .skill-progress -->

                            <div class="progress-item">
                                <span class="progress-title">PL/SQL</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="83" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 83%"><span
                                            class="progress-percent"> 83%</span>
                                    </div>
                                </div>
                                <!-- /.progress -->
                            </div>
                            <!-- /.skill-progress -->

                            <div class="progress-item">
                                <span class="progress-title">Java SE</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 75%;"><span
                                            class="progress-percent"> 75%</span>
                                    </div>
                                </div>
                                <!-- /.progress -->
                            </div>
                            <!-- /.skill-progress -->

                            <div class="progress-item">
                                <span class="progress-title">JavaScript</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 55%;"><span
                                            class="progress-percent"> 55%</span>
                                    </div>
                                </div>
                                <!-- /.progress -->
                            </div>
                            <!-- /.skill-progress -->


                        </div>
                        <!-- /.progress-wrapper -->
                    </div>
                    <div class="col-md-6">
                        <div class="progress-wrapper">
                            <h3>DEVELOPER TOOLS</h3>

                            <div class="progress-item">
                                <span class="progress-title">Docker</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 55%"><span
                                            class="progress-percent"> 55%</span>
                                    </div>
                                </div>
                                <!-- .progress -->
                            </div>
                            <!-- .skill-progress -->

                            <div class="progress-item">
                                <span class="progress-title">Atom/Sublime/VisualCode/Notepad++</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 80%"><span
                                            class="progress-percent"> 80%</span>
                                    </div>
                                </div>
                                <!-- /.progress -->
                            </div>
                            <!-- /.skill-progress -->

                            <div class="progress-item">
                                <span class="progress-title">Postman</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 65%;"><span
                                            class="progress-percent"> 65%</span>
                                    </div>
                                </div>
                                <!-- /.progress -->
                            </div>
                            <!-- /.skill-progress -->

                            <div class="progress-item">
                                <span class="progress-title">SQL Developer</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="71" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 71%;"><span
                                            class="progress-percent"> 71%</span>
                                    </div>
                                </div>
                                <!-- /.progress -->
                            </div>
                            <!-- /.skill-progress -->

                        </div>
                        <!-- /.progress-wrapper -->
                    </div>
                </div>
                <!--.row -->
            </div>
        </div>

    </div>
    <!-- .container-fluid -->
</section>
<!-- .skills-wrapper -->
