<section class="review-section section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Favorite phrases</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div id="review">
                    <div class="item">

                        <div class="review-text">
                            <i>Una persona que nunca cometió un error nunca intentó algo nuevo.</i>
                        </div>
                        <!--.review-text-->

                        <span>- Albert Einstein</span>
                    </div>
                    <!--.item-->

                    <div class="item">

                        <div class="review-text">
                          <i>Está bien celebrar el éxito pero es más importante prestar atención
                            a las lecciones del fracaso.</i>
                        </div>
                        <!--.review-text-->
                        <span>- Bill Gates</span>

                    </div>
                    <!--.item-->

                </div>
                <!--#review-->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- .review-section -->
