<section class="section-education section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Education</h2></div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <div class="content-item">
                            <small>2010 - 2012</small>
                            <h3>MA Product Design</h3>
                            <h4>University of California</h4>

                            <p>United Kingdom, London</p>
                        </div> -->
                        <!-- .experience-item -->
                        <!-- <div class="content-item">
                            <small>2007 - 2010</small>
                            <h3>Business marketing course</h3>
                            <h4>Royal Academy of Business</h4>

                            <p>United Kingdom, London</p>
                        </div> -->
                        <!-- .experience-item -->
                        <div class="content-item">
                            <small>2015 - Present</small>
                            <h3>Licenciatura en Ingeniería Informática</h3>
                            <h4>Universidad de Panamá</h4>

                            <p>Panamá, Ciudad de Panamá</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                </div>
                <!--.row-->
            </div>

        </div>
        <!--.row-->
    </div>
    <!-- .container -->
</section>
<!-- .section-education -->
